---
# this is an empty front matter
---

<!DOCTYPE html>

<html>

{% include head.html %}
<style> 
<style>
  .donate-container {
    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
  }

  .donate-container.expand {
    animation: expandHeight 1s 1 forwards;
    -webkit-animation: expandHeight 1s 1 forwards;
    border-radius: 0;
  }

  .donate-container.shrink {
    -webkit-transition: all 1s ease-in-out;
    animation: shrinkHeight 1s 1 forwards;
    -webkit-animation: shrinkHeight 1s 1 forwards;
  }

  @keyframes expandHeight {

    0%,
    50% {
      height: 1fr;
    }

    100% {
      height: 5fr;
    }
  }

  @-webkit-keyframes expandHeight {

    0%,
    50% {
      height: 1fr;
    }

    100% {
      height: 5fr;
    }
  }

  @keyframes shrinkHeight {
    from {
      height: 5fr;
    }

    to {
      height: 1fr;
    }
  }

  @-webkit-keyframes shrinkHeight {
    from {
      height: 5fr;
    }

    to {
      height: 1fr;
    }
  }

  .method-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: white;
    padding: 2vmin 1vmax 0 1vmax;
  }

  .flexitem {
    flex: 1;
    margin: 10px;
    min-width: 200px;
  }
</style>

<body>

    {% include header.html %}
    <div id='main' role='main'>
        <div class='full no-padding parallax'
            style='background-image: url(images/community-support.jpg); color: #fff; background-position-y: top10vh;'>
            <div class='row'>
                <div class='twelve columns'>
                    <div class="mod modSectionHeader big" style="margin-top: 2vmin;">
                        <div class="special-title centered-text">
                            <h2 style="color: #fff;text-shadow: 0px 0px 3px #000000;">Covid-19 Support Efforts</h2>
                        </div>

                        <h3 class='centered-text' style='color: #fff; text-shadow: 0px 0px 3px #000000;'>We are all in
                            this together</h3>

                    </div>
                </div>
            </div>
            <div class='spacing four'></div>
        </div>
        <div
            style="display:grid; grid-gap: 2vmax; grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); margin: 2vmin 4vmax 0 4vmax;">
            <a class="button radius" style="max-height:100px;" href="covid-19-volunteer.html" target="_new">Volunteer</a>
            <div id="donate" class="button radius donate-container">Donate

                <div id="donation-methods" class="method-container" style="display: none;">
                  <a class="button radius flexitem" href="covid-19-contribute">Resources</a>
                  <a class="button radius flexitem"
                  href="https://charity.gofundme.com/o/en/campaign/rapid-response-initiative-against-covid-19"
                  target="_new">GoFundMe</a>
                  <a class="button radius flexitem" href="https://ko-fi.com/pdxhs" target="_new">Ko-Fi</a>
                  <a class="button radius flexitem"
                    href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=XXB2X8SCQ74CJ&source=url"
                    target="_new">Paypal</a>
                </div>
                <script>
                    jQuery(document).ready(function () {
                      jQuery("#donate").click(function (event) {
              
                        jQuery("#donation-methods").slideToggle();
              
                        if (jQuery(this).hasClass('expand')) {
                          jQuery(this).removeClass('expand').addClass('shrink');
                        }
                        else {
                          if (jQuery(this).hasClass('shrink')) {
                            jQuery(this).removeClass('shrink').addClass('expand');
                          }
                          else {
                            jQuery(this).addClass('expand');
              
                          }
                        }
              
                      });
                    });
                  </script>
        
              </div>
        </div>
        <div class='full no-padding'>

            <div class='row'>
                <div class='small-12 medium-10 medium-offset-1 columns'>
                    <h2>Who We Are</h2>
                    <p>
                        PDX Hackerspace is an educational non-profit organization with nearly 250 engineers, designers,
                        and fabricators, with a very well equipped facility that is now tooled up and ready to produce
                        PPE on demand free of charge to organizations working to combat the COVID-19 outbreak.
                    </p>
                    <p>
                        In addition we have skills and capabilities to solve unique problems in short timeframes.
                    </p>
                    <p>
                        If you have specific needs that we may be able to help with contact <a
                            href="mailto:ppe@pdxhackerspace.org">ppe@pdxhackerspace.org</a> or file a
                        request at <a href="https://immediate-needs.pdxhackerspace.org/"
                            target="_new">https://immediate-needs.pdxhackerspace.org/</a>
                    </p>


                    <h2>Our Capabilities</h2>

                    <p>
                        At our facility in North Portland, near the intersection of Interstate and North Lombard, we
                        have design, implementation and fabrication capability in 5 domains:
                    </p>

                    <div
                        style="display:flex; flex-direction: column; align-content: center; width: 100%; margin-left: 20px; margin-right: 20px;">
                        <div>
                            <h3 style="margin-bottom: 5px;">Electronics</h3>
                            <p>
                                Our electronics lab offers full life-cycle capabilities: from design, prototype,
                                manufacture, to test, troubleshoot repair & refurbish.
                            </p>
                        </div>
                        <div>
                            <h3 style="margin-bottom: 5px;">Software and Internet</h3>
                            <p>
                                Our members foster a unique community of very deep expertise in cybersecurity, software
                                engineering, data science, internet infrastructure, and artificial intelligence. Our
                                members represent some of the areas most prominent employers including Intel, Amazon,
                                IBM, State and local governments, as well as non-profits and independent contractors.
                            </p>
                        </div>
                        <div>
                            <h3 style="margin-bottom: 5px;">Plastics</h3>
                            <p>
                                Our capability in plastics is driven by 3 laser cutting machines, over a dozen 3d
                                printers, 10 sewing machines, 2 soft material CnC machines. As well as members with
                                extensive knowledge of 2d & 3d design, modeling, CAD, & CNC.
                            </p>
                        </div>
                        <div>
                            <h3 style="margin-bottom: 5px;">Wood</h3>
                            <p>
                                Our well equipped wood working shop allows for the fabrication and repair of nearly
                                anything that will fit through a standard sized entry door.
                            </p>
                        </div>
                        <div>
                            <h3 style="margin-bottom: 5px;">Fabric and Soft Materials</h3>
                            <p>
                                Our craft lab is currently equipped with 10 sewing machines, vinyl cutting, silk
                                screening equipment, as well as Video and audio production equipment,and book binding
                                machines.
                            </p>
                        </div>
                    </div>

                    <h2>Creative problem solving</h2>

                    <p>
                        PDX Hackerspace attracts the most creative members of the engineering, fabrication and technical
                        communities from across northwest Oregon. The space has developed a deep understanding of what
                        different technologies can practically produce. We are uniquely positioned to answer question
                        like “Can This PPE be 3D printed, and at what volume”, “what is a viable substitute 3M N95
                        filter material, and can we cut it into a shape that fits our respirators”, “What are the
                        security risks to this method of data collection” “Can we provide real time visualization of X
                        set of data”. In short we can answer questions about how technology can help.
                    </p>

                    <h2>We Have Stock On Hand</h2>

                    <p>We also have stock on hand of many materials vital to the production of PPE (specifically a large
                        stock of clear plastic used in the production of face shields and splash shields).</p>

                    <h2>Our Own Initiative</h2>

                    <p>We are offering our services free of charge to organizations with needs associated with fighting
                        the COVID-19 outbreak in the Portland Metropolitan area.</p>
                    <p>On our own initiative we have begun production of various PPE items. For example we are currently
                        producing plastic face shields suitable for use by emergency responders and medical
                        professionals. We have also produced valves and respirator parts as requests come in from
                        individuals in the healthcare profession.</p>

                    <h2>Join us</h2>

                    <p>PDX Hackerspace is a registered 501(c)(3) non-profit (FEIN: 83-1684562) and at various locations
                        has been in operation for over 5 years. We expect our current resources to last the duration of
                        the COVID-19 outbreak, but our resources are not infinite. an effort to increase our capacity
                        and longevity we consider taking work for hire. We accept donations in the form of time,
                        material and funds, and encourage anyone interested learning and experimenting to inquire about
                        becoming a member.</p>

                    <p>
                        <a href="mailto:ppe@pdxhackerspace.org">ppe@pdxhackerspace.org</a>
                        <br>
                        PDX Hackerspace
                        <br>
                        <a href="//www.pdxhs.org" target="_new">www.pdxhs.org</a>
                        <br>
                        7608 N Interstate Ave Portland, OR USA
                        <br>
                        Hackerspace Phone: <a href="tel:+15035603551">+1 (503) 560 3551</a>
                        <br>
                        General inquiries: <a
                            href="mailto:info@pdxhs.org">info@pdxhs.org</a>
                    </p>


                </div>
            </div>
        </div>

    </div>

    <div class='full parallax' style='color: #fff;'>
        <div class='row'>
            <div class='large-12 columns'>
                <div class="mod modSectionHeader ">
                    <div class="special-title centered-text">
                        <h2 style="color: #fff;">Hack the Planet</h2>
                    </div>
                    </br></br></br></br></br>
                    <div class='spacing'>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include footer.html %}

    <script src="javascripts/jquery.countTo.js" type="text/javascript"></script>
    <script src="javascripts/jquery.appear.js" type="text/javascript"></script>
    <script src="javascripts/jquery.validate.js" type="text/javascript"></script>
    <script src="javascripts/jquery.sequence-min.js" type="text/javascript"></script>
    <script src="javascripts/jquery.easing.1.3.js" type="text/javascript"></script>
    <script src="javascripts/app.js" type="text/javascript"></script>

{% include update_ppe_counter.html %}

</body>

</html>