 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <p>Our story begins back in 2007, when a geek bought a building on Interstate Ave. in North Portland with the intent of turning it into a hackerspace. Unfortunately, this didn’t work out as planned, and the building sat unused for a few years.</p>
                    <p>In 2014, after years of the building being unused, a group of makers, tinkerers and hackers took control of the building and began the long process of restoring it into a member supported hackerspace. </p>
                    <p>
                        Well, fast forward many months later, and here we are. We are still in the process of renovating some aspects of the building, but for the most part our restoration is complete.
                    </p>
                    <p>
                        We look forward to doing some really cool things in Portland. Come by and see us during our open house, which is every Thursday starting at 7pm.
                    </p>
                </div>
                </div>

                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="http://www.meetup.com/CTRL-H/" class="btn btn-lg btn-outline">
                        <i class="fa fa-heart"></i> Join Us!
                    </a>
                </div>
            </div>
        </div>
    </section>