 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <p>A few years ago, a geek bought a building at 7600 N. Interstate Ave. in Portland with the intent of turning it into a hackerspace. However, this didn’t work out, and the building sat unused for a few years.</p>
                    <p>Meanwhile, in Grand Rapids, MI., a large makerspace had a fire in their high voltage lab. The geek who owned the building had a large variac sitting in this building that they needed, and offered it to them. They were quite happy to take it, and made a trip up to Portland to accept said variac, and a few other things.</p>
                    <p>
                        Meanwhile, another geek on the westside of Portland got the bright idea to start looking for a building on the westside of Portland (and is still looking, by the way) for a hackerspace, and contacted the large makerspace to see if they knew of any buildings that could be used. They put him in touch with the geek who owned the building. This building was not in an ideal place for a westside space (since it wasn’t on the westside). So this geek instead put said geek in touch with an existing hackerspace community in Portland.
                    </p>
                    <p>
                        Well, fast forward a couple of months later, and here we are. We are currently in the process of renovating the building to support a hackerspace, and setting up infrastructure, such as this website.
                    </p>
                    <p>
                        We look forward to doing some really cool things in Portland.
                    </p>
                </div>
                </div>

                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="http://www.meetup.com/CTRL-H/" class="btn btn-lg btn-outline">
                        <i class="fa fa-heart"></i> Join Us!
                    </a>
                </div>
            </div>
        </div>
    </section>