<div class="row">
  <h3>{{ include.name }}</h3>
  <div class="catalog-entry small-3 columns">
{% if include.photo %}
    <img src="images/{{ include.photo }}" alt="{{ include.name }}">
{% else %}
    <img src="placeholder.gif">
{% endif %}
  </div>
  <div class="catalog-entry small-9 columns">
    <div class="catalog-description">
      {% include {{ include.description }} %}
    </div>

{% if include.link %}
    <a href="https://www.prusaprinters.org/prints/25857-prusa-protective-face-shield-rc3">Original Design</a><br>
{% endif %}

    <b>Cost to medical professionals and first responders: $0</b><br>
    <a style="grid-area: pperequest;" class="button radius" href="request-ppe.html">Request This Item</a>
  </div>
</div>