<div id="{{ include.description }}" class="row">
  <h3><a named="{{ include.description }}">{{ include.name }}</a></h3>
  <div class="catalog-entry small-3 columns">
{% if include.photo %}
    <img src="images/ppe_catalog/{{ include.photo }}" alt="{{ include.name }}">
{% else %}
    <img src="placeholder.gif">
{% endif %}
  </div>
  <div class="catalog-entry small-9 columns">
    <div class="catalog-description">
      {% include ppe_catalog/{{ include.description }} %}
    </div>

{% if include.link %}
    <div>
      See this design at <a href="{{ include.link }}">{{ include.link }}</a><br>
    </div>
{% endif %}

{% if include.prefilled_form_link %}
    <b>Donation priority given to medical professionals, emergency services, senior care providers and high risk individuals.</b><br><br>
    <a style="grid-area: pperequest;" class="button radius" href="{{ include.prefilled_form_link }}">Request This Item</a>
{% endif %}
  </div>
</div>
