<li>
    <a href="https://www.youtube.com/watch?v=-LKVUarhtvE" target="_new">Soap Destroys Covid-19</a>
    <a href="https://www.reddit.com/r/COVID19/">r/COVID19</a>
    <a href="https://github.com/WeileiZeng/Open-Source-COVID-19">Open Source COVID-19 projects</a>
    <a href="https://nextstrain.org/ncov">Genomic epidemiology of novel coronavirus</a>
    <a href="https://gisanddata.maps.arcgis.com/apps/opsdashboard/index.html#/bda7594740fd40299423467b48e9ecf6">Center for Systems Science and Engineering at Johns Hopkins University</a>
    <a href="https://www.who.int/docs/default-source/coronaviruse/who-china-joint-mission-on-covid-19-final-report.pdf">Report of the WHO-China Joint Mission on Coronavirus Disease 2019 (COVID-19)</a>
    <a href="https://ourworldindata.org/coronavirus">Coronavirus Disease (COVID-19) – Statistics and Research</a>
</li>
