<li>
    <a href="https://arstechnica.com/science/2020/03/dont-panic-the-comprehensive-ars-technica-guide-to-the-coronavirus/#h5">The symptoms of Covid-19</a>
    <a href="https://www.consumerreports.org/food-shopping/how-to-protect-yourself-from-coronavirus-when-grocery-shopping/">How to Protect Yourself From Coronavirus When Grocery Shopping</a>
    <a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019" target="_new">WHO Covid-19 Page</a>
    <a href="https://mapipedia.com/s/u/drdave/novel_coronavirus_2019_ncov.html">Mapipedia confirmed cases</a>
    <a href="https://docs.google.com/spreadsheets/d/1Z7VQ5xlf3BaTx_LBBblsW4hLoGYWnZyog3jqsS9Dbgc/htmlview?sle=true#">COVID2019.app</a>
    <a href="https://github.com/phildini/stayinghomeclub">Lst of companies WFH or events changed</a>
    <a href="https://multco.us/health-officer/novel-coronavirus-covid-19">Multnomah County interim guidance</a>
</li>
