<div class="panel text-center">
    <h2>Covid-19 Response Efforts</h2>
    <p>Our space and our members are uniting to support our community and our healthcare workers during this pandemic.</p>
  <div style="display:grid; grid-gap: 2vmax; grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));">
  <a class="button radius" href="https://covid-19.pdxhackerspace.org">More Info</a>
  <a class="button radius" href="https://immediate-needs.pdxhackerspace.org" target="_new">Get/Give Resources</a>
  <a class="button radius" href="https://volunteer.pdxhackerspace.org" target="_new">Volunteer</a>
  </div>
  </div>