<style>
  .donate-container {
    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
  }

  .donate-container.expand {
    animation: expandHeight 1s 1 forwards;
    -webkit-animation: expandHeight 1s 1 forwards;
    border-radius: 0;
  }

  .donate-container.shrink {
    -webkit-transition: all 1s ease-in-out;
    animation: shrinkHeight 1s 1 forwards;
    -webkit-animation: shrinkHeight 1s 1 forwards;
  }

  @keyframes expandHeight {

    0%,
    50% {
      height: 1fr;
    }

    100% {
      height: 5fr;
    }
  }

  @-webkit-keyframes expandHeight {

    0%,
    50% {
      height: 1fr;
    }

    100% {
      height: 5fr;
    }
  }

  @keyframes shrinkHeight {
    from {
      height: 5fr;
    }

    to {
      height: 1fr;
    }
  }

  @-webkit-keyframes shrinkHeight {
    from {
      height: 5fr;
    }

    to {
      height: 1fr;
    }
  }

  .action-banner {
    display: grid;
    grid-gap: 0 2vmin;
    grid:
      'pperequest volunteer'
      'donate donate'
      / 1fr 1fr;
    align-items: center;
    flex: 2;
  }

  .method-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: white;
    padding: 2vmin 1vmax 0 1vmax;
  }

  .flexitem {
    flex: 1;
    margin: 10px;
    min-width: 200px;
  }
</style>
<div class="panel text-center">
  <h2>Covid-19 Response Efforts</h2>
  <p style="margin-left:10%; margin-right: 10%;">Our space and our members are uniting to support our community and our
    healthcare workers during this pandemic. Please use the links below to find out more about our efforts or to help
    our cause. If you are a healthcare worker or facility in need of PPE please use the Request PPE button.</p>
  <div style="display:flex; flex-wrap: wrap; flex-direction: row;">
    <div class="flexitem" style="min-width: 235px;">
      <div class='mod modMilestone' style="align-self: center;">
        <strong class='ppe_count'>updating count</strong>
        <span>PPE Items Donated<br><br></span>
      </div>
      <a class="button radius" href="covid-19.html">Learn More</a>
    </div>

    <div class="action-banner">

      <a style="grid-area: pperequest;" class="button radius" href="ppe-catalog.html">Request PPE</a>
      <a style="grid-area: volunteer;" class="button radius" href="covid-19-volunteer.html">Volunteer</a>

      <div id="donate" style="grid-area: donate;" class="button radius donate-container">Donate

        <div id="donation-methods" class="method-container" style="display: none;">
          <a class="button radius flexitem" href="covid-19-contribute">Resources</a>
          <a class="button radius flexitem"
          href="https://charity.gofundme.com/o/en/campaign/rapid-response-initiative-against-covid-19"
          target="_new">GoFundMe</a>
          <a class="button radius flexitem" href="https://ko-fi.com/pdxhs" target="_new">Ko-Fi</a>
          <a class="button radius flexitem"
            href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=XXB2X8SCQ74CJ&source=url"
            target="_new">Paypal</a>
        </div>

      </div>
    </div>
    <script>
      jQuery(document).ready(function () {
        jQuery("#donate").click(function (event) {

          jQuery("#donation-methods").slideToggle();

          if (jQuery(this).hasClass('expand')) {
            jQuery(this).removeClass('expand').addClass('shrink');
          }
          else {
            if (jQuery(this).hasClass('shrink')) {
              jQuery(this).removeClass('shrink').addClass('expand');
            }
            else {
              jQuery(this).addClass('expand');

            }
          }

        });
      });
    </script>
  </div>
</div>
