<div id='footer'>
  <div class='three spacing'></div>
  <div class='row'>
    <div class='large-3 medium-3 columns'>
      <div class='site-logo'>
        <a href='{{ "/index.html" | relative_url }}'>
          <img alt="PDX Hackerspace" src="{{ "/images/logo-grey.png" | relative_url }}" />
        </a>
      </div>
      <p>&copy;{{ 'now' | date: "%Y" }} PDX Hackerspace</p>
      <div class='spacing'></div>
      <div class='spacing'></div>
    </div>
    <div class='large-3 medium-3 columns'>
      <div class='spacing'></div>
      <div class='links'>
        <h4>Common Pages</h4>
        <ul>
          <li><a href="{{ "/index.html" | relative_url }}">Home</a></li>
          <li><a href="{{ "/about.html" | relative_url }}">About</a></li>
          <li><a target="_blank" rel="noopener noreferrer" href="{{ site.data.contact.social.patreon }}">Patreon</a></li>
          <li><a target="_blank" rel="noopener noreferrer" href='{{ site.data.contact.contact_form }}'>Contact us</a></li>
          <li><a target="_blank" rel="noopener noreferrer" href="{{ "/code-of-conduct.pdf" | relative_url }}">Code of Conduct</a></li>
        </ul>
      </div>
      <div class='spacing'></div>
    </div>
    <div class='large-3 medium-3 columns'>
      <div class='spacing'></div>
      <div class='links'>
        <h4>Recommended Links</h4>
        <ul>
          <li><a target="_blank" rel="noopener noreferrer" href="https://en.wikipedia.org/wiki/Hackerspace">Hackerspaces</a></li>
          <li><a target="_blank" rel="noopener noreferrer" href="https://en.wikipedia.org/wiki/Hacker_ethic">Hacker Ethic</a></li>
          <li><a target="_blank" rel="noopener noreferrer" href="https://wiki.hackerspaces.org/Design_Patterns">Design Patterns</a></li>
          <li><a target="_blank" rel="noopener noreferrer" href="https://www.ccc.de">Chaos Computer Club</a></li>
          <li><a href="{{ "/newsletter/" | relative_url }}">Our Newsletter</a></li>
        </ul>
      </div>
      <div class='spacing'></div>
    </div>
    <div class='large-3 medium-3 columns'>
      <div class='spacing'></div>
      <h4>Contact Information</h4>
      <ul>
        <li>Phone: {{ site.data.contact.phone_display }}</li>
        <li>Email: {{ site.data.contact.email_info }}</li>
        <li>Location: {{ site.data.contact.street }} {{ site.data.contact.city }}, {{ site.data.contact.region }} {{ site.data.contact.country }}</li>
      </ul>
      <div class='spacing'></div>
      <ul class='socials'>
        <li>
          <a target="_blank" rel="noopener noreferrer" href='{{ site.data.contact.social.bluesky }}'>
            <i class='fa fa-cloud'></i>
          </a>
        </li>
        <li>
          <a target="_blank" rel="noopener noreferrer" href='{{ site.data.contact.social.linkedin }}'>
            <i class='fa fa-linkedin'></i>
          </a>
        </li>
      </ul>
      <div class='spacing'></div>
    </div>
  </div>
  <div class='two spacing'></div>
</div>

