  <div id='footer'>
  <div class='three spacing'></div>
  <div class='row'>
    <div class='large-3 medium-3 columns'>
      <h1>
        <a href='index-2.html'>
          <img alt="" src="images/logo-grey.png" />
        </a>
      </h1>
      <p>©2019 PDX Hackerspace</p>
      <div class='spacing'></div>
      <div class='spacing'></div>
    </div>
    <div class='large-3 medium-3 columns'>
      <div class='spacing'></div>
      <div class='links'>
        <h4>Common Pages</h4>
        <ul>
          <li><a href="index-2.html">Home</a></li>
          <li><a href="about.html">About</a></li>
          <li><a target="_blank" rel="noopener noreferrer" href="https://patreon.com/ctrlh">Patreon</a></li>
          <li><a target="_blank" rel="noopener noreferrer" href='https://forms.gle/s5DcvPS5isbNY96QA'>Contact us</a></li>
          <li><a target="_blank" rel="noopener noreferrer" href="code-of-conduct.pdf">Code of Conduct</a></li>
        </ul>
      </div>
      <div class='spacing'></div>
    </div>
    <div class='large-3 medium-3 columns'>
      <div class='spacing'></div>
      <div class='links'>
        <h4>Recommended Links</h4>
        <ul>
          
            <li><a target="_blank" rel="noopener noreferrer" href="https://en.wikipedia.org/wiki/Hackerspace">Hackerspaces</a></li>
			
            <li><a target="_blank" rel="noopener noreferrer" href="https://en.wikipedia.org/wiki/Hacker_ethic">Hacker Ethic</a></li>
			
            <li><a target="_blank" rel="noopener noreferrer" href="https://wiki.hackerspaces.org/Design_Patterns">Design Patterns</a></li>
			
            <li><a target="_blank" rel="noopener noreferrer" href="https://www.ccc.de">Chaos Computer Club</a></li>
        
        </ul>
      </div>
      <div class='spacing'></div>
    </div>
    <div class='large-3 medium-3 columns'>
      <div class='spacing'></div>
      <h4>Contact Information</h4>
      <ul>
        <li>Phone: +1 (503) 560 3551</li>
        <li>Email: info@pdxhs.org</li>
        <li>Location: 7608 N Interstate Ave Portland, OR USA</li>
      </ul>
      <div class='spacing'></div>
      <ul class='socials'>

        <li>
          <a target="_blank" rel="noopener noreferrer" href='https://twitter.com/ctrlhpdx'>
            <i class='fa fa-twitter'></i>
          </a>
        </li>
		<li>
          <a target="_blank" rel="noopener noreferrer" href='https://twitch.tv/pdxhackerspace'>
            <i class='fa fa-twitch'></i>
          </a>
        </li>
        <li>
          <a target="_blank" rel="noopener noreferrer" href='https://facebook.com/ctrlhpdx'>
            <i class='fa fa-facebook'></i>
          </a>
        </li>
        <li>
          <a target="_blank" rel="noopener noreferrer" href='https://instagram.com/ctrlhpdx'>
            <i class='fa fa-instagram'></i>
          </a>
        </li>
        <li>
          <a target="_blank" rel="noopener noreferrer" href='https://linkedin.com/company/pdxhackerspace'>
            <i class='fa fa-linkedin'></i>
          </a>
        </li>

      </ul>
      <div class='spacing'></div>
    </div>
  </div>
  <div class='two spacing'></div>
</div>
