<div class='contain-to-grid sticky'>
  <nav class='top-bar' data-options='sticky_on: large' data-topbar=''>
    <ul class='title-area'>
      <li class='name'>
        <div class='site-logo'>
          <a href='index.html'>
            <img alt="PDX Hackerspace" src="images/logo-bordered.png" />
          </a>
        </div>
      </li>
      <li class='toggle-topbar menu-icon'>
        <a href='#'>Menu</a>
      </li>
    </ul>
    <section class='top-bar-section'>
      <ul class="right">
            <li class="active">
              <a href="index.html">Home</a>
            </li>
            <li class="has-dropdown ">
              <a href="about.html">About</a>
			                <ul class='dropdown'>
                  <li>
                    <a href="about.html#who-we-are">Who we Are</a>
                  </li>
                
                  <li>
                    <a href="about.html#what-we-do">What we Do</a>
                  </li>	
				  
				  <li>
                    <a href="calendar.html">Events</a>
                  </li>
				  				  
				  <li>
                    <a target="_blank" rel="noopener noreferrer" href="code-of-conduct.pdf">Code of Conduct</a>
                  </li>
				  
				  <li>
                    <a href="FAQ.html">FAQ</a>
                  </li>
              </ul>
            </li>
			
            <li class="">
              <a href='index.html#ways-to-give'>Ways to Give</a>
            </li>

            <li class="">
              <a href="what-we-need.html">What We Need</a>
            </li>
          
        
          
            <li class="">
              <a href="calendar.html">Calendar</a>
            </li>
          

          
            <li class="">
                      <a target="_blank" rel="noopener noreferrer" href='{{ site.data.contact.contact_form }}'>Contact us</a>
            </li>
        
      </ul>
    </section>
  </nav>
</div>
