<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>PDX Hackerspace</title>
  	<meta name="description" content="PDX Hackerspace (a.k.a. CTRLH) is an educational 501(c)(3) non-profit located in Portland, Oregon USA. Hack the Planet!" />
	<meta name="keywords" content="Hackerspace, Hacking, Hacker, Hack, Makerspace, Making, Maker, Make, Tinker, DIY, Community, Anarchy, Anarchism, Oregon, PDX, Portland, PDX Hackerspace, CTRLH, Portland Hackerspace, do it yourself, Hack the Planet, How to Hack, technology, craft lab, electronics lab, metal shop, wood shop, 3D printing, laser cutter, cnc router, vinyl cutter, plotter, coworking, open source, infosec, information security, penetration testing, manufacturing, art, craft, science, engineering" />
  <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
  <link rel="stylesheet" href="css/foundation.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/fontello.css">
  <link rel="stylesheet" href="css/font-awesome.css">
  <script src="javascripts/libs.js" type="text/javascript"></script> 
  <script>
    // terrificjs bootstrap
    (function($) {
        $(document).ready(function() {
            var $page = $('body');
            var config = {
              dependencyPath: {
                plugin: 'javascripts/'
              }
            }
            var application = new Tc.Application($page, config);
            application.registerModules();
            application.start();
        });
    })(Tc.$);
  </script>
  <link href="http://fonts.googleapis.com/css?family=Raleway:400,700,300" media="screen" rel="stylesheet" type="text/css" />
  <script src="javascripts/masonry.pkgd.js" type="text/javascript"></script>
  <script src="javascripts/imagesloaded.pkgd.min.js" type="text/javascript"></script>
  <script src="javascripts/slick.min.js" type="text/javascript"></script>
  <script src="javascripts/json2.js" type="text/javascript"></script>
  <link rel="canonical" href="index.html">
  <link rel="alternate" type="application/rss+xml" title="PDX Hackerspace" href="feed.xml" />
</head>
