 <!-- Contact Section -->
    <section id="join">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>How to Join</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <p>Membership is $40/month. You can join by showing up to an open house and getting a membership application. 
                    <p>Once approved, all Members are granted 24/7 access to the hackerspace.</p>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="mailto:info@pdxhs.org" class="btn btn-success btn-lg">
                        <i class="fa fa-heart"></i> Email Us!
                    </a>
                </div>
            </div>
            </div>
        </div>
    </section>
