 <!-- Contact Section -->
    <section id="join">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>How to Join</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <p>Membership is $40/month. You can join from the meetup group – and we provide other options too.</p>
                   <p>With membership you get 24/7 access. Currently for technical reason that access is only to partition 2, but we plan to roll out access to the other partitions shortly.</p>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="http://www.meetup.com/CTRL-H/" class="btn btn-success btn-lg">
                        <i class="fa fa-heart"></i> Join Us!
                    </a>
                </div>
            </div>
            </div>
        </div>
    </section>