<li>
    <a href="https://www.providence.org/lp/100m-masks" target="_new">Providence Masks</a>
    <a href="https://www.211info.org/">Connect with health and service organizations</a>
    <a href="https://www.myoregon.gov/2020/03/19/medical-professionals-asked-to-donate-surplus-ppe/">How to Donate Surplus PPE</a>
    <a href="https://volunteer.pdxhackerspace.org/">Volunteering to build PPE at PDX Hackerspace</a>
    <a href="https://immediate-needs.pdxhackerspace.org/">Donate resources for PPE production at PDX Hackerspace</a>
</li>
